.ayat {
  color: green;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.poetry {
  color: rgb(15, 111, 175);
  font-weight: bold;
  text-align: center;
}
.title {
  color: rgb(238, 109, 59);
  font-weight: bold;
  font-size: 20px;

  text-align: center;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
subtitle {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.hawala {
  text-align: right;
}
.riwayat {
  color: rgb(8, 90, 157);
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.urduShair {
  color: red;
  font-weight: bold;
  text-align: center;
}
.farsiShair {
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 18px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
  font-weight: bold;
}
h3 {
  font-size: 14px;
  font-weight: bold;
}
h4 {
  font-size: 12px;
  font-weight: bold;
}
h5 {
  font-size: 10px;
  font-weight: bold;
}
